<h2>Blocks information</h2>
<form (ngSubmit)="updateBlocks()">
    <button type="submit" class="btn btn-default" [disabled]="!canSendMessage">See current blocks</button>
</form>
<ul>
    <li *ngFor="let message of allMessages" style="list-style: none;">
        {{message.ipAddress}}
    </li>
</ul>

<br>
<br>
<br>
<hr>
<br>
<br>
<br>

<h2>Nodes information</h2>
<form (ngSubmit)="updateNodes()">
    <button type="submit" class="btn btn-default" [disabled]="!canRefreshNodeList">See nodes info</button>
</form>
<ul>
    <li *ngFor="let node of allNodes" style="list-style: none;">
        {{node.ipAdress}}
    </li>
</ul>